
@import url('./layout/normalize.css');
@import url('./layout/fonts.css');
@import url('./layout/base.css');

@import url('./blocks/header.css');
@import url('./blocks/breadcrumbs.css');
@import url('./blocks/content-list.css');
@import url('./blocks/pagination.css');
@import url('./blocks/form.css');
@import url('./blocks/footer.css');

.maincontent{
  padding: 48px 0 61px;

}

.reviews{
  padding-top: 28px;
  padding-bottom: 55px;
}

.reviews__container{
  flex-flow: column;
}

.reviews__content-desc{
  max-width: 685px;
}

.notice{
  margin-top: 60px;
  background: #131415;
}

.notice__container{
  align-content: center;
  justify-content: center;
}

.notice__pattern{
  width: 98.5%;
  display: flex;
  justify-content: space-around;
  background: url(../img/pattern.png);
}

.notice__text{
  text-align: justify;
  width: 635px;
  margin: 30px;
  font-size: 18px;
  color: #ffffff;
  line-height: 30px;
  font-weight: 300;
}

.accent{
  color: #f89513;
}