/* BASE */

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'open_sans';
  font-weight: normal;
  font-size: 14px;
}

a{
  text-decoration: none;
  color: #131415;
}

img{
  max-width: 100%;
  max-height: 100%;
}

@font-face {
  font-family: 'gora_free';
  src: url('../fonts/gora-free-webfont.woff2') format('woff2'),
       url('../fonts/gora-free-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
       url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;

}

.logo{
  font-family: 'gora_free';
  font-size: 18px;
  color: #F89513;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: .1em;
}

.headline{
  font-family: "Open Sans";
  font-size: 49px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 65px;
  letter-spacing: 1.47px;
}

.hover{
  width: 100%;
  height: 2px;
  background: #F5F5F5;
}

.container{
  flex: 1;
  max-width: 1100px;
  display: flex;
  margin: auto;
}



/* HEADER */

.header{
  display: flex;
  width: 100%;
  height: 76px;
  background: #131415;
  text-align: center;
  font-family: 'open_sans';
  font-weight: 700;
}

.header__logo{
  height: 76px;
  padding: 0 20px;
  font-weight: normal;
}

.header__logo:before {
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}

.menu{
  width: fit-content;
  margin: auto;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.menu__item{
  display: inline-block;
}

.menu__link{
  margin-right: 27px;
  height: 18px;
}

.menu__icon{
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.menu__text{
  letter-spacing: .1em;
  display: inline-block;
  font-size: 12px;
  color: white;
  vertical-align: middle;
}

.contact_phone{
  width: fit-content;
  text-align: right;
  float: right;
  margin: auto;
  margin-right: 20px;
}

.phone_number{
  color: white;
  font-size: 21px;
}

.schedule{
  opacity: .7;
  color: #C17514;
  text-decoration: underline;
}



/* MAIN CONTENT */

.maincontent{
  width: 100%;
  padding-top: 79px;
}

.banner{
  background: url(../img/banner.jpg) no-repeat;
  height: 486px;
  width: 740px;
  margin: 0 auto 58px;
}



/* Feauteres */

.feauteres{
  width: 100%;
  background: #131415;
  padding-top: 64px;
  text-align: center;
  color: white;
}

.feauteres-cards{
  margin: 0 auto 100px;
}

.card{
  display: inline-block;
  margin-right: 70px;
  max-width: 200px;
  color: white;
  vertical-align: top;
}

.last{
  margin: 0;
}

.card__icon{
  width: 68px;
  height: 68px;
  background-color: #F89513;
  border-radius: 50%;
  text-align: center;
  line-height: 68px;
  margin: auto;
  margin-bottom: 42px;
}

.card__icon > img{
  vertical-align: middle;
}

.card__header{
  font-size: 11px;
  font-family: 'open_sans_extrabold', sans-serif;
  letter-spacing: .24em;
  margin-bottom: 30px;
}

.card__text{
  font-family: 'open_sans_lig', sans-serif;
  font-size: 18px;
  color: #F4F4F4;
  font-weight: 400;
  line-height: 1.66;
}

.card__list{
  list-style-type: disc;
  margin-left: 23px;
  margin-top: 15px;
  text-align: left;
}



/* News */

.news{
  width: 100%;
  text-align: center;
  padding-top: 65px;
}

.content-list{
  width: 100%;
  color: #211E1E;
  margin-left: 20px;
  list-style: none;
  text-align: left;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
}

.content-item{
  margin-top: 25px;
  margin-bottom: 30px;
}

.round-img{
  float: left;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.content-desc{
  width: 100%;
  min-height: 160px;
  color: #221F1F;
}

.content-desc__date{
  color: #656464;
  font-size: 14px;
}

.content-desc__topic{
  font-weight: 700;
  font-size: 18px;
}

.content-desc__text{
  text-align: justify;
}



/* Top news */

.top-news{
  float: right;
  margin-left: auto;
  margin-right: 20px;
  margin-left: 27px;
  text-align: left;
}

.top-news__header{
  margin-bottom: 24px;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 2.4px;
  color: #221f1f;
  text-transform: uppercase;
}

.top-news__item{
  margin-bottom: 20px;
}

.top-news__list{
  list-style: none;
}

.top-news__img{
  width: 160px;
  height: 160px;
  background-position: center;
}

.top-news__month{
  color: #666565;
}

.top-news__1{
  background-image: linear-gradient(
    rgba(245,245,245, 0.2),
    rgba(245,245,245, 0.2)
    ), url(../img/top_news__1.jpg);
    height: 120px;
}

.top-news__2{
  background-image: linear-gradient(
    rgba(245,245,245, 0.2),
    rgba(245,245,245, 0.2)
    ), url(../img/top_news__2.jpg);
}

.top-news__3{
  background-image: linear-gradient(
    rgba(245,245,245, 0.2),
    rgba(245,245,245, 0.2)
    ), url(../img/top_news__3.jpg);
}



/* Pagination */

.pagination{
  width: 100%;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 65px;
  font-family: 'Roboto';
}

.page-of{
  color: #656464;
  display: inline-block;
  margin-right: 15px;
}

.now-page{
  background: #27273E;
  color: white;
}

.pages__item{
  font-weight: 300;
  height: 25px;
  width: 25px;
  display: inline-block;
  line-height: 25px;
  margin: auto;
  border-radius: 2px;
}

.pages{
  display: inline-block;
  font-weight: 700;
}

.arrow-left{
  transform: rotate(180deg);
}



/* FOOTER */

.footer{
  display: flex;
  width: 100%;
  height: 76px;
  background: #131415;
  color: white;
  text-align: center;
  font-family: 'open_sans';
}

.comment{
  text-align: left;
  margin: auto 20px;
}

.footer__logo{
  padding: 0;
  margin: auto;
}

.social{
  float: right;
  font-weight: 700;
  margin: auto 20px;
  text-align: left;
}

.social__text{
  margin-bottom: 8px;
}

.social__icon{
  width: 20px;
  height: 20px;
  background: #D0D0D0;
  border-radius: 50%;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  margin-right: 7px;
}

.social__icon > img{
  vertical-align: middle;
  margin-bottom: 2px;
}



/* IMMUTABLE */

.unavailable{
  opacity: .3;
  cursor: default;
  pointer-events: none;
}

.first-vert{
  margin-top: 0;
}

.first-hor{
  margin-left: 0;
}

.last-vert{
  margin-bottom: 0;
}

.last-hor{
  margin-right: 0;
}