/* BASE */

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'open_sans';
  font-weight: normal;
  font-size: 14px;
}

a{
  text-decoration: none;
  color: #131415;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
  max-height: 100%;
}

@font-face {
  font-family: 'gora_free';
  src: url('../fonts/gora-free-webfont.woff2') format('woff2'),
       url('../fonts/gora-free-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
       url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;

}

.logo{
  font-family: 'gora_free';
  font-size: 18px;
  font-weight: normal;
  color: #F89513;
  letter-spacing: .1em;
}

.headline{
  font-family: "open_sans";
  font-size: 49px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 65px;
  letter-spacing: 1.47px;
}

.hover{
  width: 100%;
  height: 2px;
  background: #F5F5F5;
}

.container{
  flex: 1;
  max-width: 1100px;
  display: flex;
  margin: auto;
  padding: 0 20px;
}

.header-footer__container{
  min-height: 76px;
  align-items: center;
}



/* HEADER */

.header{
  width: 100%;
  min-height: 76px;
  background: #131415;
  text-align: center;
  font-weight: 700;
  color: white;
}

.header__logo{
  font-weight: normal;
  margin: auto 0;
}

.menu{
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.menu__item{
  display: inline-block;
  margin-right: 27px;
}

.menu__item:last-child{
  margin-right: 0;
}

.menu__link::before{
  content: "";
  width: 20px;
  height: 18px;
  margin-right: 12px;
  display: inline-block;
  vertical-align: bottom;
  background: no-repeat;
  background-position: center;
}

.link-main::before{
  background-image: url(../img/main_icon.svg);
}

.link-feed::before{
  background-image: url(../img/feed_icon.svg);
}

.link-service::before{
  background-image: url(../img/service_icon.svg);
}

.menu__icon{
  vertical-align: middle;
  margin-right: 15px;
}

.menu__text{
  min-height: 18px;
  letter-spacing: .1em;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}

.contact_phone{
  min-width: fit-content;
  margin-left: auto;
  text-align: right;
  font-style: normal;
}

.phone_number{
  font-size: 21px;
}

.schedule{
  opacity: .7;
  color: #C17514;
  text-decoration: underline;
}



/* MAIN CONTENT */

.maincontent{
  width: 100%;
  padding-top: 79px;
  padding-bottom: 65px;
}

.banner{
  display: block;
  margin: 0 auto 58px;
}



/* Feauteres */

.feauteres{
  width: 100%;
  background: #131415;
  padding-top: 64px;
  padding-bottom: 100px;
  text-align: center;
  color: white;
}

.cards-list{
  width: fit-content;
  margin: 0 auto;
}

.feauteres__card{
  margin-right: 70px;
  max-width: 200px;
  vertical-align: top;
}

.card{
  display: inline-block;
}

.card:last-child{
  margin-right: 0;
}

.card__icon{
  width: 68px;
  height: 68px;
  background-color: #F89513;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.card__icon > img{
  position: relative;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card__header{
  font-size: 11px;
  font-weight: 500;
  line-height: 51.38px;
  text-transform: uppercase;
  letter-spacing: 2.88px;
}

.card__text{
  line-height: 30px;
  font-size: 18px;
  color: #F4F4F4;
  font-weight: 300;
}

.card__list{
  list-style-type: disc;
  margin-left: 23px;
  margin-top: 15px;
  text-align: left;
}



/* News */

.news{
  text-align: center;
  padding-top: 65px;
  padding-bottom: 65px;
}

.content-list{
  color: #211E1E;
  list-style: none;
  text-align: left;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  margin-right: 27px;
}

.content-item{
  min-height: 160px;
  margin-bottom: 30px;
  border-bottom: #F5F5F5 2px solid;
  padding-bottom: 25px;
}

.content-item:last-child{
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.round-img{
  float: left;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.content-desc{
  min-height: 160px;
  color: #221F1F;
}

.content-desc__date{
  color: #656464;
  font-size: 14px;
}

.content-desc__topic{
  font-weight: 700;
  font-size: 18px;
}

.content-desc__text{
  text-align: justify;
}



/* Top news */

.top-news{
  margin-left: 27px;
  margin-left: auto;
  text-align: left;
}

.top-news__header{
  margin-bottom: 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 2.4px;
  color: #221f1f;
  text-transform: uppercase;
}

.top-news__item{
  margin-bottom: 20px;
}

.top-news__item:last-child{
  margin-bottom: 0;
}

.top-news__img{
  width: 160px;
  height: 160px;
  background-position: center;
  background: rgba(245,245,245, 0.2);
  transition-duration: .5s;
}

.top-news__img:hover{
  background: rgba(245,245,245, 0);
}

.top-news__month{
  color: #666565;
}



.top-news__1{
  background-image: url(../img/top_news__1.jpg);
  height: 120px;
}

.top-news__2{
  background-image: url(../img/top_news__2.jpg);
}

.top-news__3{
  background-image: url(../img/top_news__3.jpg);
}



/* Pagination */

.pagination{
  text-align: center;
  font-family: 'Roboto';
}

.pages__item{
  display: inline-block;
}

.page-of{
  color: #656464;
  display: inline-block;
  margin-right: 15px;
}

.pages__link{
  display: inline-block;
  font-weight: 300;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 2px;
  transition-duration: .3s;
}

.pages__link:hover {
  color: #F79412;
}

.pages{
  cursor: default;
  display: inline-block;
  font-weight: 700;
}

.arrow-left{
  transform: rotate(180deg);
}



/* FOOTER */

.footer{
  width: 100%;
  min-height: 76px;
  background: #131415;
  color: white;
}

.comment{
  min-width: fit-content;
  text-align: left;
}

.footer__logo{
  width: 100%;
  text-align: center;
}

.social{
  min-width: fit-content;
  margin-left: auto;
  font-weight: 700;
  text-align: left;
}

.social__text{
  margin-bottom: 8px;
}

.social__list{
  cursor: default;
  width: fit-content;
}

.social__item{
  display: inline-block;
  margin-right: 7px;
}

.social__item:last-child{
  margin-right: 0;
}

.social__icon{
  width: 20px;
  height: 20px;
  background: #D0D0D0;
  border-radius: 50%;
  display: inline-block;
  transition-duration: .3s;
}

.social__icon:hover {
  background: #F79412;
}

.social__icon > img{
  position: relative;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



/* IMMUTABLE */

.pages__link--now-page{
  background: #27273E;
  color: #F79412;
}

.pages__link--unavailable{
  opacity: .3;
  cursor: default;
  pointer-events: none;
}