*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

@font-face {
  font-family: 'gora_free';
  src: url('../fonts/gora-free-webfont.woff2') format('woff2'),
       url('../fonts/gora-free-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans_bold';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans_extrabold';
  src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans_reg';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans_lig';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
       url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;

}

.container{
  flex: 1;
  max-width: 1100px;
  display: flex;
  margin: auto;
}

.header{
  display: flex;
  width: 100%;
  height: 76px;
  background: #131415;
}

.logo{
  height: 76px;
  letter-spacing: .1em;
  font-family: 'gora_free', serif;
  font-size: 18px;
  color: #F89513;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}

.logo:before {
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}

.menu{
  letter-spacing: .1em;
  width: fit-content;
  margin: auto;
}

.menu__item{
  display: inline-block;
}

.menu__link{
  margin-right: 27px;
  height: 18px;
}

.menu__icon{
  display: inline-block;
  vertical-align: middle;
}

.menu__text{
  display: inline-block;
  font-size: 12px;
  font-family: 'open_sans_bold', sans-serif;
  color: white;
  padding-left: 17px;
  vertical-align: middle;
}

.contact_phone{
  width: fit-content;
  text-align: right;
  float: right;
  margin: auto;
  margin-right: 20px;
  font-family: 'open_sans_bold', sans-serif;
}

.phone_number{
  color: white;
  font-size: 21px;
}

.schedule{
  color: #C17514;
  font-size: 14px;
  text-decoration: underline;
}


/* MAIN CONTENT */

.maincontent{
  width: 100%;
}

.banner{
  background: url(../img/banner.jpg) no-repeat;
  height: 486px;
  width: 740px;
  margin: 79px auto 58px;
}

.feauteres{
  width: 100%;
  background: #131415;
  padding-top: 64px;
  text-align: center;
  color: white;
}

h1{
  font-family: 'open_sans_bold', sans-serif;
  font-size: 49px;
  margin-bottom: 47px;
}

.feauteres-cards{
  margin: auto;
}

.card{
  display: inline-block;
  margin-right: 70px;
  max-width: 200px;
  color: white;
  margin-bottom: 100px;
  vertical-align: top;
}

.last{
  margin: 0;
}

.card__icon{
  width: 68px;
  height: 68px;
  background-color: #F89513;
  border-radius: 50%;
  text-align: center;
  line-height: 68px;
  margin: auto;
  margin-bottom: 42px;
}

.card__icon > img{
  vertical-align: middle;
}

.card__header{
  font-size: 11px;
  font-family: 'open_sans_extrabold', sans-serif;
  letter-spacing: .24em;
  margin-bottom: 30px;
}

.card__text{
  font-family: 'open_sans_lig', sans-serif;
  font-size: 18px;
  color: #F4F4F4;
}

.card__list{
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 15px;
  text-align: left;
}

.last-news{
  color: #211E1E;
  width: 100%;
  text-align: center;
  font-family: 'open_sans_bold', sans-serif;
  font-size: 13px;
  padding-top: 67px;
}



.news{
  width: 100%;
  margin-left: 20px;
  list-style: none;
}

.news-block{
  text-align: left;
  margin-top: 25px;
  margin-bottom: 30px;
}

.first{
  margin-top: 0;
}

.round-img{
  float: left;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-right: 20px;
}

.news-desc{
  min-height: 160px;
  text-align: left;
  font-size: 18px;
  font-family: 'open_sans_lig', sans-serif;
  color: #221F1F;
  padding-right: 45px;
}

.news-desc__date{
  color: #656464;
  font-weight: 300;
  font-size: 14px;
}

.news-desc__topic{
  font-family: 'open_sans_bold';
}

.hover{
  width: 100%;
  height: 2px;
  background: #F5F5F5;
}

.top-news{
  float: right;
  margin-left: auto;
  margin-right: 20px;
  margin-left: 70px;
  text-align: left;
}

.top-news__list{
  list-style: none;
}

.top-news-img{
  width: 160px;
  margin-top: 15px;
}

.top-news__month{
  color: #666565;
}

.top-news_1{
  background-image: linear-gradient(
    rgba(245,245,245, 0.2),
    rgba(245,245,245, 0.2)
    ), url(../img/top_new_1.jpg);
  height: 120px;
  background-position: center;
}

.top-news_2{
  background-image: linear-gradient(
    rgba(245,245,245, 0.2),
    rgba(245,245,245, 0.2)
    ), url(../img/top_new_2.jpg);
  height: 120px;
  background-position: center;
}

.top-news_3{
  background-image: linear-gradient(
    rgba(245,245,245, 0.2),
    rgba(245,245,245, 0.2)
    ), url(../img/top_new_3.jpg);
  height: 120px;
  background-position: center;
}

.pagination{
  width: 100%;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 65px;
}

.now-page{
  font-family: 'open_sans_lig';
  color: #656464;
  display: inline-block;
  margin-right: 15px;
}

.now{
  background: #27273E;
  color: white;
}

.pages__item{
  font-family: 'open_sans_reg';
  height: 25px;
  width: 25px;
  display: inline-block;
  line-height: 25px;
  margin: auto;
  border-radius: 2px;
}

.pages{
  display: inline-block;
}

.arrow-left{
  transform: rotate(180deg);
}

.footer{
  display: flex;
  width: 100%;
  height: 76px;
  background: #131415;
  color: white;
}

.comment{
  font-family: 'open_sans_lig';
  font-size: 14px;
  margin: auto 20px;
}

.footer-logo{
  padding: 0;
  margin: auto;
}

.social{
  float: right;
  font-family: 'open_sans_bold';
  font-size: 14px;
  margin: auto 0;
}

.social__text{
  margin-bottom: 8px;

}

.social__icon{
  width: 20px;
  height: 20px;
  background: #D0D0D0;
  border-radius: 50%;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  margin-right: 7px;
}

.social__icon > img{
  vertical-align: middle;
}