.header{
  width: 100%;
  background: #131415;
  font-weight: 700;
  padding: 16px 0;
}

.header__container{
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  font-weight: normal;
}

.menu{
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.menu__item{
  display: inline-block;
  margin-right: 27px;
}

.menu__item:last-child{
  margin-right: 0;
}

.menu__link{
  color: white;
  transition-duration: .3s;
}

.menu__link::before{
  content: "";
  width: 20px;
  height: 18px;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
  background: no-repeat;
  background-position: center;
  transition-duration: .3s;
}

.link-main::before{
  background-image: url(../../img/menu/main_icon.svg);
}

.link-feed::before{
  background-image: url(../../img/menu/feed_icon.svg);
}

.link-service::before{
  background-image: url(../../img/menu/service_icon.svg);
}

.link-main:hover:before, .menu__link--active.link-main::before{
  background-image: url(../../img/menu/main_icon_h.svg);
}

.link-feed:hover:before, .menu__link--active.link-feed::before{
  background-image: url(../../img/menu/feed_icon_h.svg);
}

.link-service:hover:before, .menu__link--active.link-service::before{
  background-image: url(../../img/menu/service_icon_h.svg);
}

.menu__icon{
  margin-right: 15px;
}

.menu__text{
  display: inline-block;
  vertical-align: middle;
  letter-spacing: .1em;
  font-size: 12px;
}

.menu__link:hover{
  color: #f89513;
}

.menu__link--active{
  color: #f89513;
}

.contact{
  text-align: right;
}

.contact__number{
  color: white;
  font-size: 21px;
  line-height: 30px;
}

.contact__schedule{
  opacity: .7;
  color: #f89513;
  text-decoration: underline;
}