.wrapper-intro{
  background: url(../../img/gym.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.intro-content{
  height: inherit;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.intro-content__img{
  display: block;
}

.intro-content__button{
  display: block;
  margin-top: 39px;
  width: fit-content;
  background-color: #f89513;
}

.intro-content__button:hover{
  background: #1c1f1d;
}

@keyframes bounceIn {

  0% {
    opacity: 0;
    transform: scale3d(0.4, 0.4, 0.4);
  }

  20% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.04, 1.04, 1.04);
  }

  80% {
    transform: scale3d(.96, .96, .96);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.animate-bounceIn {
  animation-duration: 0.8s;
  animation-name: bounceIn;
}