
.notice{
  margin-top: 60px;
  background: #131415;
}

.notice__container{
  align-content: center;
  justify-content: center;
}

.notice__pattern{
  width: 98.5%;
  display: flex;
  justify-content: space-around;
  background: url(../../img/pattern.png);
}

.notice__text{
  text-align: justify;
  width: 635px;
  margin: 30px;
  font-size: 18px;
  color: #ffffff;
  line-height: 30px;
  font-weight: 300;
}