
.partners{
  margin-top: 60px;
}

.partners__headline{
  margin-bottom: 60px;
}

.partners__container{
  flex-flow: column;
}

.logo-list{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo-list__item{
  flex: 1;
  justify-content: center;
  display: inline-flex;
  flex-basis: 250px;
  padding: 25px 0;
}

.logo-list__logo{
  position: relative;
  height: fit-content;
  top: 50%;
  transform: translateY(-50%);
}

.logo-img{
  display: block;
  filter: grayscale(.9);
  transition-duration: .3s;
}

.logo-img:hover{
  filter: grayscale(0);
}

.logo-list__item:hover .logo-list__logo::before{
  opacity: 1;
}