
.partners{
  margin-top: 60px;
}

.partners__headline{
  margin-bottom: 85px;
}

.partners__container{
  flex-flow: column;
}

.logo-list{
  width: 100%;
}

.logo-list__item{
  flex: 1;
  justify-content: center;
  display: inline-flex;
}

.logo-list__logo{
  position: relative;
  height: fit-content;
  top: 50%;
  transform: translateY(-50%);
}

.logo-list__logo::before{
  content: '';
  display: block;
  position: absolute;
  opacity: 0;
  transition-duration: .4s;
}

.logo-list__logo_1::before{
  content: url(../../img/partners/logo_1.svg);
}

.logo-list__logo_2::before{
  content: url(../../img/partners/logo_2.svg);
}

.logo-list__logo_3::before{
  content: url(../../img/partners/logo_3.svg);
}

.logo-list__logo_4::before{
  content: url(../../img/partners/logo_4.svg);
}

.logo-list__logo_5::before{
  content: url(../../img/partners/logo_5.svg);
}

.logo-list__logo_6::before{
  content: url(../../img/partners/logo_6.svg);
}

.logo-img{
  display: block;
}

.logo-list__item:hover .logo-list__logo::before{
  opacity: 1;
}