
.service-cards-list{
  justify-content: left;
  margin-bottom: -45px;
}

.service-card{
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  flex-basis: 247px;
  margin-right: 59px;
  margin-bottom: 45px;
}

.service__card:last-child, .service__card:nth-child(2n+1){
  margin-right: 0;
}

.card__prev{
  width: 100%;
  height: 153px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.card__prev-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.72px;
}

.card__prev::before{
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0, .5)
}

.card__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: none;
}

.card__text{
  margin-top: 26px;
  line-height: 21px;
  font-size: 14px;
  font-weight: 300;
}

.card__text h3{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px
}