
.top-news{
  display: flex;
  flex-flow: column;
  text-align: left;
  margin-left: auto;
}

.top-news__header{
  margin-bottom: 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 2.4px;
  color: #221f1f;
  text-transform: uppercase;
}

.top-news__item{
  margin-bottom: 20px;
}

.top-news__item:last-child{
  margin-bottom: 0;
}

.top-news__filter-img{
  position: relative;
  display: block;
  width: 160px;
  height: 160px;
}

.top-news__img{
  display: block;
}

.top-news__filter{
  background: rgba(245,245,245, .2);
  transition-duration: .3s;
  position: absolute;
  height: 100%;
  width: 100%;
}

.top-news__filter:hover{
  background: rgba(245,245,245, 0);
}

.top-news__header span{
  color: #666565;
}

.top-news__small{
  height: 120px;
}